.nitro-loading {
    position: relative;
    background: #1a0e14 url('@/assets/images/loading/loading-bg.webp') no-repeat center center;
    background-size: cover;
    z-index: 100;

    .loading-panels {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 553px;
        height: 383px;
        max-width: 90%;
        max-height: 60%;
        background: url('@/assets/images/loading/loading-panels.png') no-repeat center;
        background-size: contain;
        z-index: 1;
        pointer-events: none;
    }
}
