.nitro-online-count {
    pointer-events: all;
    font-size: $font-size-sm;
    background-color: var(--prp-chrome-95);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: inset 0px 5px var(--prp-chrome-hi), inset 0 -4px var(--prp-chrome-lo);
    width: fit-content;
    flex-shrink: 0;
}
